th
{
    position: sticky;
    top: 57px;
    background: white;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

#sticky
{
    position: sticky;
    top:0;
    z-index: 101;
}

#navbar
{
    background-color: #2c3137;
    z-index: 101;
}
