html, body
{
    /*height: 100%;*/
}


#sticky
{
    position: sticky;
    top:0;
    z-index: 101;
}

.whiteText
{
    color: white;
}

#navbar
{
    background-color: #2c3137;
    z-index: 101;
}

.tab-body
{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 28px;
    /*min-height: 71%;*/
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#footerMobile, #footerDesktop
{
    background-color: #2c3137;
    display: none;
    color: slategrey;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    font-size: .75rem;
}

.footerSticky
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
.footer ul li:before {
	content: "◈";
	position: absolute;
	left: 0;
}

.socialMedia, .fab
{
    text-decoration: none;
    color: white;
}

.instagram:hover
{
    color: mediumvioletred;
}

.facebook:hover
{
    color: #3b5998;
}

.github:hover
{
    color: black;
}

.linkedIn:hover
 {
     color: #0e76a8;
 }

.discord:hover
 {
     color: #7289DA;
 }

.busFont
{
    font-size: 1.875em;
}

.timeFont
{
    font-size: 1.563em;
}

#darkMode
{
    color: white;
    border-radius: 50%;
}

.darkmode-toggle
{
    top: 64px;
}

.btn-link
{
    text-align: left;
}