.background
{
    width: 100%;
    height: calc(100vh - 56px);
    object-fit: cover;
}

#sticky
{
    position: sticky;
    top:0;
    z-index: 1;
}

#navbar
{
    background-color: rgba(32, 38, 44, .95);
}

.tab-body
{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 28px;
}

#footer
{
    background-color: rgba(32, 38, 44, .95);
    display: none;
    color: slategrey;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    font-size: .75rem;
}