.background
{
    width: 100%;
    height: calc(100vh - 56px);
    object-fit: cover;
}

#sticky
{
    position: sticky;
    top:0;
    z-index: 1;
}

#navbar
{
    background-color: rgba(32, 38, 44, .95);
}

.tab-body
{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 28px;
}

#footer
{
    background-color: rgba(32, 38, 44, .95);
    display: none;
    color: slategrey;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
    font-size: .75rem;
}

.socialMedia, .fab
{
    text-decoration: none;
    color: white;
}

#instagram:hover
{
    color: mediumvioletred;
}

#facebook:hover
{
    color: #3b5998;
}

#github:hover
{
    color: black;
}

#linkedIn:hover
 {
     color: #0e76a8;
 }

.busFont
{
    font-size: 1.875em;
}

.timeFont
{
    font-size: 1.563em;
}

#darkMode
{
    color: white;
}